@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

header {
    padding: 15px;
    background-color: rgb(17, 150, 14);
    color: #ffff;
}

header button {
    width: 130px;
    height: 41px;
    border-radius: 50px;
    border: none;
}

.terceiroh {
    width: 448;
    font-weight: 500px;
    font-size: 58px;
    line-height: 70px;
}

header nav li {
    display: inline;
    margin-left: 16px;
    font-size: 18px;
}

header nav li a {
    color: #ecf0f1;
    text-decoration: none;
}

.container {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
}

header .container,
section .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.brands-list img {
    height: 24px;
    margin-top: 10px;

}

.brands-list li {
    display: inline;
    margin-right: 8px;

}

section .container {
    align-items: flex-start;
}

section {
    padding: 100px;
    color: #07462c;
}

section h2 {
    width: 500px;
    font-size: 50px;
    line-height: 50px;

}

section p {
    width: 500px;
    font-size: 24px;
    padding-bottom: 20px;
    color: black;
}

.store_font {
    margin-right: 32px;
}

.social-links img {
    height: 24px;
}

.social-links li {
    display: inline;
    margin-right: 8px;

}

.social-links li a {
    text-decoration: none;
    }

#contact .container,
#product .container {
    display: block;
}

.contact-methods,
.product_methods {
    display: flex;
    justify-content: space-between;
    color: black;
}

form input,
form textarea,
form button {
    display: block;
    width: 320px;
    padding: 8px;
    margin-bottom: 8px;
}

form textarea {
    resize: none;
    height: 180px;
}

section h3 {
    margin: 24px 0 24px 0;
    font-weight: 100px;

}

form button {
    background-color: #073619;
    color: #ecf0f1;
    border: none;
    cursor: pointer;

}

form button:hover {
    background-color: #3da37f;
}

input:focus,
textarea:focus {
    outline: #2b938e;
}

footer {
    background-color: #11960e;
    color: #ecf0f1;
    padding: 16px 0;
    font-weight: normal;
    text-align: center;
}

.product_methods img {
    height: 250px;
    border-radius: 0 50px;
}

.product_methods button {
    border: none;
    margin-left: 50px;
}

.product_methods {
    font-size: 30px;
    font-weight: normal;
    width: 400px;
    padding-left: 15px;
}
#product{
    background-color: #f5f5f2;
}
.product_methods button{
    cursor: pointer;
}